
$font-highlight : 'Montserrat', sans-serif;
$font-main:'Merriweather Sans', sans-serif;
$primary-color: #2F3133;
$secondary-color:#94949D;
$highlight-color:#5762C7;

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}