@import 'config';

 body{
    font-size: 18px;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    scroll-behavior: smooth;
    background-color: #F8FAFB;
    
 }
main{
    width: 100%;
    height: 100%;
    border: 1.8rem solid #F8FAFB;
    border-radius: 20px;
    background: #F8FAFB;
    

   
     
      
}
.mainContainer{
    border-radius: calc(33px - 20px);
      
    width: 100%;
    height:100%;
   display: flex;
  flex-direction: row;
  justify-content: space-between;
   
}
#leftContainer{
    background-color:$highlight-color;
height: 100%;
flex: 1;
border-bottom-left-radius: 40px;
border-top-left-radius: 40px;
padding: 2rem;
box-shadow: $highlight-color 0px 1px 4px;
h1{
 color: #ffffff;
 font-family: $font-highlight;  
}
h2{
    color: #ffffff;
 font-family: $font-highlight; 
 width: 80%; 
 margin-top: 12rem;
 margin-left: 2rem;
}
}
#rightContainer{
    flex: 3;
  
    
    display: flex;
   
}
#right_blank_container{
   flex: 1;
   border: 1px solid blue;
}
#right_signup_container{
    flex: 3;
width: 100%;
  
border: 2px solid red;
}
